<div class="flip flip-vertical">
    <div class="front">
        <img src="{{imageUrl}}" alt="">
    </div>
    <div class="{{skin}}">
        <h1>{{name}}</h1>
        <h2>{{specie}}</h2>
        <p>{{description}} </p>
        <a href="#" class="details">Details</a>
    </div>
</div>
